<div class="app font-arial">
    <div class="container" [class.hidden]="isFormSubmitted">
        <form (submit)='handleForm($event)'>
            <div class="row">
                <div class="col-25">
                    <label for="fname">First Name:</label>
                </div>
                <div class="col-75">
                    <input [value]='person.fname' type="text" name="fname" placeholder="Your name..">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Last Name:</label>
                </div>
                <div class="col-75">
                    <input [value]='person.lname' type="text" name="lname" placeholder="Your last name..">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="country">Country:</label>
                </div>
                <div class="col-75">
                    <select [value]='person.country' name="country">
                        <option value="">Select Country</option>
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="subject">Subject:</label>
                </div>
                <div class="col-75">
                    <textarea [value]='person.subject' name="subject" placeholder="Write something.." style="height:200px"></textarea>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>

    <div [class.hidden]="!isFormSubmitted">
        <hr>
        <h3 class='text-center my-20 fz-20'>Thank you For Your Details</h3>
        <hr>
        <div class='flex flex-col items-center justify-center mr-20 my-20 fz-20'>
          <div class='my-20'> <b> First Name: </b> {{ person.fname }} </div> 
          <div class='my-20'> <b> Last Name: </b>  {{ person.lname }} </div> 
          <div class='my-20'> <b> Country Name: </b>  {{ person.country }} </div> 
          <div class='my-20'> <b> Subject Name: </b> {{ person.subject }} </div> 
          <button class='fz-20 px-20 py-20' (click)="handleAnotherReponse()">Submit Another Response</button>
        </div>
        <hr>
    </div>
</div>